.content-section {
    position: relative;
}

.previous-button, .next-button {
    border: none;
    width: 10vw;
    height: 250px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0)0%, #000 100%);
    cursor: pointer;
    z-index: 9;
}

.previous-button {
    left: 0;
    transform: rotate(180deg);
}

.next-button {
    right: 0;
}

.previous-button img,
.next-button img {
    width: 20px;
    /* opacity: 0.2; */
}

.previous-button:hover,
.next-button:hover {
    opacity: 0.6;
}

.content_container-wrapper {
    height: 250px;
    /* padding: 10px; */
}





