.App {
  text-align: center;
}

body {
  background-color: #000;
  color: white;
}

.cloneflix-button_primary {
  cursor: pointer;
  outline: 0 #fff;
  height: 35px;
  background: #fff;
  color: #000;
  font-weight: bolder;
  font-size: large;
  border-radius: 2px;
  margin: .5rem;
}

.cloneflix-button_secondary {
  cursor: pointer;
  height: 35px;
  outline: 1px #fff solid;
  background: rgba(100, 100, 100, 0.3);
  color: #fff;
  font-size: large;
  font-weight: bold;
  margin: .5rem;
}

.cloneflix-button_secondary:hover {
  background: rgba(100, 100, 100, 0.7);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}